/* -------------------------------------------------- */
/* --- IE 7 ----------------------------------------- */
/* -------------------------------------------------- */
.message-body .controlers{height:30px;}

.message-body .controlers .reply-to,
.message-body .controlers .comment-edit{width:80px;}
.send-reply-message .sendreply-to{width:58px}

.message-body .controlers .score2voiseDown,
.message-body .controlers .score2voiseUp{height:20px;margin-left:5px;}

.send-reply-message .sendreply-to,
.message-body .controlers .reply-to,
.message-body .controlers .comment-edit{height:10px;margin:0;}

.message-body .controlers .score2voiseDown span,
.message-body .controlers .score2voiseUp span{display:block;padding:0;}

.message-body .controlers .score2voiseDown span.btnContent,
.message-body .controlers .score2voiseUp span.btnContent{padding:3px 4px;background-position:4px 3px;}	

.send-reply-message .sendreply-to span,
.message-body .controlers .comment-edit span,
.message-body .controlers .reply-to span{display:block;padding:0;}

.message-body .comment textarea {width:400px;}

.send-reply-message .lettersLeft,
.send-reply-message .editOptions{margin-top:4px;}
